#header-nav
{
	background-color: #999999;
	border:0;
	border-radius: 0;
}
body
{
	 font-family: 'Aref Ruqaa';
}

.navbar-brand h1
{
	color: #000000;
	font-size: 30px;
/*	text-transform: uppercase;
*/	vertical-align: middle;
	box-sizing: border-box;
	margin-top: 10px;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: .75;
}
.navbar-brand a:hover ,.navbar-brand a:focus 
{
	text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
	background: #FFFFFF;
  color: #000000;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000000;
 
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#nav-list
{
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid #000000;


}
#nav-list li
{
	  border: 1px solid #000000;

}
.para{
/*	height: 1000px;
*/	
background-color: #999999;
padding-left: 15px;
padding-right: 10px; 

}
.menu-heading
{
	font-weight: bold;
}